* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.staff-paper {
  /* background-color: aqua; */
  display: flex;
}
.local-left {
  padding: 7rem;
  width: 50%;
  background-color: aqua;
}
.local-right {
  width: 50%;
  background-color: bisque;
}
.velly {
  font-size: 25px;
  color: #33475b;
  padding-top: 20px;
  text-align: left;
  line-height: 30px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  max-width: 60%;
}

.dove-bb {
  display: flex;
  justify-content: center;
  align-items: center;
}
.jorry {
  width: 180px;
  height: 35px;
}
.dark-line {
  width: 2px;
  height: 70px;
  margin-left: 30px;
  margin-right: 30px;
}
.kick {
  width: 210px;
  height: 80px;
}
.Dment {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.guns {
  width: 150px;
  height: 40px;
}
.nijia {
  width: 160px;
  height: 35px;
}
.trunks {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}
.rely {
  width: 80px;
  height: 60px;
}
.pro {
  width: 70px;
  height: 60px;
}
